{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["babel", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "semi": ["error", "never"]
  },
  "env": {}
}
